---
import { Image } from 'astro:assets';
import nuxatin from '../../images/nuxatin.png'
import rtu from '../../images/rtu.png'
---
<section id="projects">
			<h2 class="mb-3 font-bold text-2xl md:text-3xl"  >Projets déployés</h2>

			<div class="gap-3 lg:gap-8 grid lg:grid-cols-2" >

				<div class="my-2" >

				<a href="https://nuxatin.store">
					<Image src={nuxatin} alt={" nuxatin"} height={400} width={400} class={"my-3"} layout='full-width'/>
				</a>
				<span class="font-semibold text-indigo-600 text-lg" >Nuxatin</span>
				<a href="https://nuxatin.store" class="bg-indigo-600 mx-2 p-1.5 rounded text-gray-50 text-base" target="_blank">Visiter </a>
				<p class="my-2 text-base md:text-lg" >Un SaaS qui permet de créer une boutique en ligne en quelques minutes, sans compétences techniques et sans frais cachés.
				La plateforme centralise les commandes reçues via WhatsApp, Facebook, Telegram ou email, et propose une gestion simplifiée des produits, des stocks et des ventes!</p>
				</div>

				<div class="my-2" >
					<a href="https://radiotraitdunionetdogbofm.bj">
						<Image src={rtu} alt={"radio trait d'union"} height={400} width={400} class={"my-3"} layout='full-width'/>
					</a>
					<span class="font-semibold text-indigo-600 text-lg" >Radio Trait d'Union FM</span>
					<a href="https://radiotraitdunionetdogbofm.bj" class="bg-indigo-600 mx-2 p-1.5 rounded text-gray-50 text-base" target="_blank">Visiter </a>
					<p class="my-2 text-base md:text-lg" >Cette plateforme a été conçue pour optimiser la gestion des services de la radio Trait d’Union Gbédopko (spots publicitaires, avis de recherche, annonces, etc.) et faciliter leur diffusion afin d’atteindre un public plus large et améliorer l’efficacité de la communication</p>
				</div>
			</div>

		</section>