---
import Whatsapp from '../../svg/whatsapp.svg'
import Email from '../../svg/email.svg'
import Linkedin from '../../svg/linkedin.svg'
import Github from '../../svg/github.svg'



---
<section class="mt-8 mb-14" >

    <p class="inline-block my-2 text-base sm:text-lg" >
        Salut, je m’appelle <strong class="font-semibold text-indigo-600 text-lg" >Gautier Fadonougbo</strong> et je suis développeur web full-stack.
        <span class="inline-block my-1.5" >
            Passionné par le développement et les nouvelles technologies, j’aime créer des solutions modernes, performantes et adaptées aux besoins de chaque client.
        </span> 
    </p>
    <div class="flex justify-center lg:justify-start space-x-5 mb-6" id="contact">
            <a href="https://wa.me/2290191810043" title="whatsapp" class="block flex-none bg-indigo-600 p-1.5 rounded">
                <Whatsapp class="fill-gray-50 size-7" />
            </a>


            <a href="mailto:fadougbogautier@gmail.com" class="block bg-indigo-600 p-1.5 rounded" title="email">
                <Email class="fill-gray-50 size-7" />
            </a>

            <a href="https://www.linkedin.com/in/gautier-fadonougbo-53868220a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="block bg-indigo-600 p-1.5 rounded" title="linkedin">
                <Linkedin class="size-7" />
            </a>

            <a href="https://github.com/Fadonougbo" class="block bg-indigo-600 p-1.5 rounded" title="github">
                <Github class="stroke-2 stroke-gray-50 size-7" />
            </a>
        </div>

</section>