---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css'
---

<Layout>

    <section class="my-6" >
        <h2 class="mb-3 font-bold text-2xl md:text-3xl"  >À propos de moi</h2>

        <p class="text-base lg:text-lg" >
           Je m’appelle <strong class="text-indigo-600" >Gautier Fadonougbo</strong> et je suis <strong class="text-indigo-600">développeur web</strong>, titulaire d’une <strong class="text-indigo-600">Licence en Systèmes Informatiques et Logiciels</strong>.
            Passionné par les technologies numériques, j’aide les entreprises et particuliers à concrétiser leurs projets en ligne grâce à mes compétences en développement web.
            Je maîtrise également les outils bureautiques comme  <strong class="text-indigo-600">Word</strong> et  <strong class="text-indigo-600">Excel</strong>, qui me permettent d’assurer une gestion efficace et une documentation technique claire
        </p>

    </section>

     <section>
        <h2 class="mb-3 font-bold text-2xl md:text-3xl"  >Expériences professionnelle</h2>

        <div class="my-3" >
            <strong class="block my-4 text-indigo-600" >Mairie d'Abomey-Calavi | avril 2025 - juillet 2025 | Stagiaire</strong>
            <p class="text-base lg:text-lg" >
                J’ai participé à la mise en place d’une application web dédiée à la gestion des marchés publics et au suivi des plans de passation des marchés. Mon travail a porté sur la conception et le développement des fonctionnalités clés, comme la création, le suivi et le filtrage des marchés au sein d’un plan, afin de rendre le processus plus simple, transparent et efficace
            </p>
        </div>

        <div class="my-3" >
            <strong class="block my-4 text-indigo-600">Radio Trait d'Union Gbédopko | mai 2024 - juillet 2024  | Stagiaire</strong>
            <p class="text-base lg:text-lg" >Durant mon stage j'ai créé une application web pour faciliter la gestion des services de la radio</p>
        </div>

        <div class="my-3" >
            <strong class="block my-4 text-indigo-600">Ministère du développement et de la coordination de l'action gouvernementale (Direction des Systèmes d'informations) | juillet 2023 - août 2023 | Stagiaire</strong>
            <ul class="text-base lg:text-lg list-disc list-inside" >
                <li>J'ai participé à la mise en place d'une plateforme pour la gestion du parking du ministère </li>
                <li>Reparation et maintenance d'ordinateurs</li>
            </ul>
        </div>
       



    </section>

    <section class="my-6" >
        <h2 class="mb-6 font-bold text-2xl md:text-3xl"  >Centre d'interêts</h2>
        <span class="bg-indigo-600 mx-1 p-1.5 rounded text-gray-50" >Music</span>
        <span class="bg-indigo-600 mx-1 p-1.5 rounded text-gray-50" >Sport</span>
        <span class="bg-indigo-600 mx-1 p-1.5 rounded text-gray-50" >Cinéma</span>
        <span class="bg-indigo-600 mx-1 p-1.5 rounded text-gray-50" >Anime</span>
        <span class="bg-indigo-600 mx-1 p-1.5 rounded text-gray-50" >Manga</span>
    </section>

</Layout>
