---
import Layout from '../layouts/Layout.astro';
import Description from '../components/welcome/Description.astro';
import CircleAnimation from '../components/welcome/CircleAnimation.astro'
import nuxatin from '../images/nuxatin.png'
import rtu from '../images/rtu.png'

import '../styles/global.css'
import { Image } from 'astro:assets';
---

<Layout>

	<div class="grid lg:grid-cols-2 lg:mt-10" >
		<Description />
		<CircleAnimation />
	</div>

	<div class="mt-24" >
		<section id="projects">
			<h2 class="mb-3 font-bold text-2xl md:text-3xl"  >Projets déployés</h2>

			<div class="gap-3 lg:gap-8 grid lg:grid-cols-2" >

				<div class="my-2" >

				<a href="https://nuxatin.store">
					<Image src={nuxatin} alt={"image du projet nuxatin"} height={400} width={400} class={"my-3"} layout='full-width'/>
				</a>
				<span class="font-semibold text-indigo-600 text-lg" >Nuxatin</span>
				<a href="https://nuxatin.store" class="bg-indigo-600 mx-2 p-1.5 rounded text-gray-50 text-base" target="_blank">Visiter </a>
				<p class="my-2 text-base md:text-lg" >Un SaaS qui permet de créer une boutique en ligne en quelques minutes, sans compétences techniques et sans frais cachés.
				La plateforme centralise les commandes reçues via WhatsApp, Facebook, Telegram ou email, et propose une gestion simplifiée des produits, des stocks et des ventes!</p>
				</div>

				<div class="my-2" >
					<a href="https://radiotraitdunionetdogbofm.bj">
						<Image src={rtu} alt={"image du projet nuxatin"} height={400} width={400} class={"my-3"} layout='full-width'/>
					</a>
					<span class="font-semibold text-indigo-600 text-lg" >Radio Trait d'Union FM</span>
					<a href="https://radiotraitdunionetdogbofm.bj" class="bg-indigo-600 mx-2 p-1.5 rounded text-gray-50 text-base" target="_blank">Visiter </a>
					<p class="my-2 text-base md:text-lg" >Cette plateforme a été conçue pour optimiser la gestion des services de la radio Trait d’Union Gbédopko (spots publicitaires, avis de recherche, annonces, etc.) et faciliter leur diffusion afin d’atteindre un public plus large et améliorer l’efficacité de la communication</p>
				</div>
			</div>

			
		</section>

		<section class="my-6">
			<h2 class="mt-3 mb-5 font-bold text-2xl md:text-3xl"  >Projets open-source</h2>

			<div class="gap-4 lg:gap-8 grid lg:grid-cols-2" >

				<a href="https://github.com/Fadonougbo/amazing_shop_source" class="bg-indigo-50 hover:bg-indigo-600 p-4 rounded-lg hover:text-gray-50 transition-colors duration-200">
					<span class="mb-1 font-semibold text-lg" >Amazing shop</span>
					<p class="text-base md:text-lg" >Développement d’un mini site e-commerce dans le cadre de mon apprentissage de ReactJS, afin de mettre en pratique mes compétences en front-end.</p>
				</a>

				<a href="https://github.com/Fadonougbo/gloop_project" class="bg-indigo-50 hover:bg-indigo-600 p-4 rounded-lg hover:text-gray-50 transition-colors duration-200">
					<span class="mb-1 font-semibold text-lg" >Gloop</span>
					<p class="text-base md:text-lg" >Création d’un CRUD complet dans le cadre de mon apprentissage de  NodeJS, afin de renforcer mes compétences en développement backend</p>
				</a>

				<a href="https://github.com/Fadonougbo/webtv" class="bg-indigo-50 hover:bg-indigo-600 p-4 rounded-lg hover:text-gray-50 transition-colors duration-200">
					<span class="mb-1 font-semibold text-lg" >Web TV</span>
					<p class="text-base md:text-lg" >Développement d’un CRUD complet qui récupère et affiche les vidéos d’une chaîne YouTube d’information, démontrant mes compétences en gestion de données et intégration d’API</p>
				</a>

				<a href="https://github.com/Fadonougbo/livre_dor" class="bg-indigo-50 hover:bg-indigo-600 p-4 rounded-lg hover:text-gray-50 transition-colors duration-200">
					<span class="mb-1 font-semibold text-lg" >Livr d'or</span>
					<p class="text-base md:text-lg" >Création d’un CRUD complet dans le cadre de mon apprentissage de Fastify et NodeJS, afin de renforcer mes compétences en développement backend</p>
				</a>
				
			</div>

		</section>

		<section class="my-6 text-base md:text-lg">

			<h2 class="mt-3 mb-5 font-bold text-2xl md:text-3xl"  >Ma stack</h2>
			<p>Je développe des applications web performantes en <strong class="text-indigo-600" >PHP</strong> et  <strong class="text-indigo-600" >JavaScript</strong>, en utilisant des frameworks modernes comme <strong class="text-indigo-600">Laravel</strong>, <strong class="text-indigo-600">ReactJS</strong>, <strong class="text-indigo-600">AdonisJS</strong>, <strong class="text-indigo-600">AstroJS</strong> et <strong class="text-indigo-600">TailwindCSS</strong>.
			Je maîtrise la gestion des données avec <strong class="text-indigo-600">PostgreSQL</strong> et <strong class="text-indigo-600">MySQL</strong> et j’assure un suivi rigoureux du code grâce à <strong class="text-indigo-600">Git</strong> .
			J’intègre aussi des outils comme <strong class="text-indigo-600">Docker</strong> afin de faciliter le développement et le déploiement de mes projets.
			</p>

		</section>

		
	</div>

	
</Layout>
