---
const year=new Date().getFullYear()
---
<footer class="flex flex-col mx-2 mt-4 px-3 py-4 border-t-2 border-t-indigo-50">

    <p class="flex flex-wrap justify-center items-center gap-1 mb-4 text-center capitalize" >
        <a href="https://wa.me/2290191810043" class="m-1 decoration-2 decoration-indigo-600 decoration-wavy underline underline-offset-4">whatsapp</a> / <a href="mailto:fadougbogautier@gmail.com" class="m-1 decoration-2 decoration-indigo-600 decoration-wavy underline underline-offset-4"> email</a> / <a href="https://www.linkedin.com/in/gautier-fadonougbo-53868220a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="m-1 decoration-2 decoration-indigo-600 decoration-wavy underline underline-offset-4">linkedin</a> / <a href="https://github.com/Fadonougbo" class="m-1 decoration-2 decoration-indigo-600 decoration-wavy underline underline-offset-4">github</a>
    </p>

    <h2 class="my-2 text-center" > © {year} Gautier Fadonougbo , Tous droits réservés.</h2>
</footer>