---
const year=new Date().getFullYear()
---
<footer class="flex flex-col-reverse mx-2 mt-4 px-3 py-4 border-t-2 border-t-indigo-50">
    <h2 class="my-2 text-center" > © {year} Gautier Fadonougbo , Tous droits réservés.</h2>
</footer>