---
const isHomePage=   Astro.originPathname==="/"
const isAboutPage=  Astro.originPathname==="/about/"
---
<header class="flex justify-center mt-2 px-2 py-1 border-b-2 border-b-indigo-50 h-20 lg:text-lg" > 

    <nav class="sm:block h-full" >

        <ul class="gap-2 space-x-2 md:space-x-10 grid grid-cols-3 md:grid-cols-4 h-full" >

            <li  class:list={["flex items-center px-1 h-full  decoration-2 decoration-indigo-700 decoration-wavy  underline-offset-4",{"underline font-semibold":isHomePage,"text-gray-600 hover:text-inherit":!isHomePage} ]} >
                <a href="/fadonougbogautier" class="inline-block">Accueil</a>
            </li>

            <li  class="flex items-center px-1 h-full text-gray-600 hover:text-inherit">
                <a href="/fadonougbogautier/#projects">Projets</a>
            </li>

            <li class="flex items-center px-1 h-full text-gray-600 hover:text-inherit">
                <a href="/fadonougbogautier/#contact">Contact</a>
                
            </li>

            <li class:list={["flex items-center px-1 h-full  decoration-2 decoration-indigo-700 decoration-wavy  underline-offset-4",{"underline font-semibold":isAboutPage,"text-gray-600 hover:text-inherit":!isAboutPage} ]}>
                <a href="/fadonougbogautier/about">À propos</a>
            </li>

        </ul>
    </nav>

</header>