---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"

---
<!doctype html>
<html lang="fr" class="scroll-smooth">
	<head>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Portfolio de Gautier Fadonougbo, développeur web spécialisé en sites modernes, SaaS et plateformes médias. Découvrez mes projets et contactez-moi." >
		<meta name="generator" content={Astro.generator} />
		<!-- Open Graph -->
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="Gautier Fadonougbo">
		<meta property="og:locale" content="fr_FR">
		<meta property="og:url" content="https://fadonougbo.github.io/fadonougbogautier/">

		<meta property="og:title" content=" Gautier Fadonougbo - Développeur web full-stack.">
		<meta property="og:description" content="Portfolio de Gautier Fadonougbo, développeur web spécialisé en sites modernes, SaaS et plateformes médias. Découvrez mes projets et contactez-moi.">
		<meta property="og:image" content="https://ik.imagekit.io/1z5vn0xms/Capture%20d_%C3%A9cran%20du%202025-12-29%2010-17-08.png">

		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630">

		<!-- Twitter / X -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Gautier Fadonougbo - Développeur web full-stack.">
		<meta name="twitter:description" content="Développeur web . Je conçois des sites modernes et performants .">
		<meta name="twitter:image" content="https://ik.imagekit.io/1z5vn0xms/Capture%20d_%C3%A9cran%20du%202025-12-29%2010-17-08.png">

		<title>Gautier Fadonougbo</title>
		
	</head>
	<body class="px-4 sm:px-32 overflow-x-hidden" >
		<Header />
		<slot />
		<Footer />
	</body>
</html>

